<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv = "refresh" content = "0 ; url = /youtube"/>
  <meta name="description" content="SBLoader YouTube Downloader helps you download any YouTube video in the best quality. Download YouTube videos in MP3, MP4, 3GP, M4A, and many more formats. Our downloader is for free and does not require any software or registration.">
  <link rel="icon" type="image/x-icon" href="/static/logo.png">
  <title>SBDownloader</title>
</head>
<style>
  body{
    height:70vh;
  }
  img{
    width: 80vw;
    margin-left: 10vw;
    top: 60px;
  }
</style>
<body>
  <img src="/static/loading.gif">
</body>
</html>